<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFKcgCw0Z7LISkpeaF-T8gqcrYg4J3XD8"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="map">
      <p class="desc">住所を入力してください</p>
    </div>
    <form class="form">
      <input type="text" id="address" class="form__input" />
      <button class="form__button">検索</button>
    </form>
  </body>
</html>
